manifest {
  mainScript = 'main.nf'
}

// default parameters
params {
    cpus = "2"
    memory = '16g'
    help = false
    profile = false

    // Inputs (considered as dir)
    ont = './nanopore'
    illumina = './illumina'
    bin_classify = false
    rna = false
    bin_annotate = false
    bin_classify = false

    // Databases
    checkm_db = false
    checkm_tar_db = false
    sourmash_db = false
    // dammit_db = false
    // dammit_user_db = false
    // busco_db = 'metazoa'
    eggnog_db = false

    // Options
    modular = "full" // different option: full ; assemble ; classify ; annotate ; assem-class ; assem-annot ; class-annot
    skip_ill_qc = false
    skip_ont_qc = false
    short_qc = "2000"
    filtlong = false
    model = "r941_min_high_g303"
    polish_threshold = ""
    polish_iteration = 2
    extra_ill = false
    extra_ont = false
    //SRA_ill = false                  a list of additional ill sample from SRA accession number to use for the binning in Metabat2 and concoct (not implemented yet)
    //SRA_ont = false                  a list of additional ont sample from SRA accession number to use for the binning in Metabat2 and concoct (not implemented yet)
    skip_metabat2 = false
    skip_maxbin2 = false
    skip_concoct = false
    reassembly = false
    assembler = 'metaflye'

    // Output
    output = './results'

}

profiles {
    //executer
    standard {

    }

    test {
        
    }

    local {
        process.executor = 'local'    
    }

    gcloud {  // NEED TO CHANGE some DOCKER container to the version used in local_conda
        //workDir = "/tmp/nextflow-docker_pipelines-$USER"
        process.executor = 'google-lifesciences'
        process.memory = params.memory
        bucketDir = 'gs://bucket/work-dir'
        google { project = 'project-name-111111'; zone = 'europe-north1-a' }
        google.lifeSciences.copyImage = 'google/cloud-sdk:latest'
        google.lifeSciences.preemptible = true
        google.lifeSciences.bootDiskSize = "10GB"
        google.lifeSciences.debug = true
        includeConfig 'configs/custom_gcloud.config'
    }

    slurm {
        process.executor = 'slurm'
    }

    //engine
    local_engine {
        docker.enabled=false
        process.memory = params.memory
        includeConfig 'configs/local.config'
    }

    conda {
        docker.enabled=false
        process.memory = params.memory
        conda.createTimeout = '2h'
        includeConfig 'configs/conda.config'

    }

    docker {  // NEED TO CHANGE some DOCKER container to the version used in local_conda
        docker.enabled = true 
        process.memory = params.memory
        includeConfig 'configs/container.config'
    }

    singularity { // NEED TO CHANGE some DOCKER container to the version used in local_conda
        singularity.enabled = true
        singularity.autoMounts = true
        docker.enabled = fasle 
        process.memory = params.memory
        includeConfig 'configs/container.config'
        }
}

