manifest {
    mainScript = './main.nf'
}

// default parameters
params {
    cpus = "2"
    memory = '16g'
    help = false
    profile = false

    // Inputs (considered as dir)
    ont = './nanopore'
    illumina = './illumina'

    // Databases
    checkm_db = false
    checkm_tar_db = false
    sour_db = false

    // Options
    skip_ill_qc = false
    skip_ont_qc = false
    short_qc = "2000"
    filtlong = false
    model = "r941_min_high"
    polish_threshold = ""
    polish_iteration = 2
    extra_ill = false
    extra_ont = false
    skip_metabat2 = false
    skip_maxbin2 = false
    skip_concoct = false

    // Output
    output = './results'
    assembly = ''
    out_qc = false
    out_metabat = false
    out_concoct = false
    out_maxbin = false
    out_metawrap = false
    out_bin_reads = false
    out_unmapped = false
}

profiles {
    standard {

    }

    conda {
        process.executor = 'local'
        docker.enabled=false
        process.memory = params.memory
        conda.createTimeout = '2h'
        process {
            withLabel : fastp { cpus = params.cpus ; memory = params.memory
            conda = 'bioconda::fastp'}
            withLabel : filtlong { cpus = params.cpus ; memory = params.memory
            conda = 'bioconda::filtlong'}
            withLabel : sourmash { cpus = params.cpus ; memory = params.memory
            conda = 'bioconda::sourmash'}
            withLabel : spades { cpus = params.cpus ; memory = params.memory
            conda = 'bioconda::spades'}
            withLabel : flye { cpus = params.cpus ; memory = params.memory
            conda = 'bioconda::flye'}
            withLabel : racon { cpus = params.cpus ; memory = params.memory
            conda = 'bioconda::racon '}
            withLabel : medaka { cpus = params.cpus ; memory = params.memory
            conda = 'bioconda::medaka '}
            withLabel : pilon { cpus = params.cpus ; memory = params.memory
            conda = 'bioconda::pilon bioconda::bwa bioconda::samtools'}
            withLabel : minimap2 { cpus = params.cpus ; memory = params.memory
            conda = 'bioconda::minimap2 bioconda::samtools'}
            withLabel : bwa { cpus = params.cpus ; memory = params.memory
            conda = 'bioconda::bwa bioconda::samtools'}
            withLabel : metabat2 { cpus = params.cpus ; memory = params.memory
            conda = 'bioconda::metabat2'}
            withLabel : maxbin2 { cpus = params.cpus ; memory = params.memory
            conda = 'bioconda::maxbin2'}
            withLabel : concoct { cpus = params.cpus ; memory = params.memory
            conda = 'bioconda::concoct'}
            withLabel : checkm { cpus = params.cpus ; memory = params.memory
            conda = 'bioconda::checkm-genome'}
            withLabel : metawrap { cpus = params.cpus ; memory = params.memory;
            conda = 'ursky::metawrap-mg'}
            withLabel : seqtk { cpus = params.cpus ; memory = params.memory
            conda = 'bioconda::seqtk bioconda::samtools '}
            withLabel : unicycler { cpus = params.cpus ; memory = params.memory
            conda = 'bioconda::unicycler '}
            // withLabel : { cpus = params.cpus ; memory = params.memory
            // conda = 'bioconda:: '}
        }
    }

}