process {
    //withLabel: checkm(withLabel: metawrap)
    withLabel: bwa { cpus = 8 ; memory = '30g'} 
    withLabel: checkm2 { cpus = 24 ; memory = '150g'}
    withLabel: concoct { cpus = 8 ; memory = '30g'}
    withLabel: eggnog { cpus = 8 ; memory = '30g'}
    withLabel: fastp { cpus = 8 ; memory = '30g'}
    withLabel: filtlong { cpus = 8 ; memory = '14g'}
    withLabel: flye { cpus = 8 ; memory = '30g'}
    withLabel: maxbin2 { cpus = 8 ; memory = '30g'}  
    withLabel: medaka { cpus = 8 ; memory = '30g'} 
    withLabel: metabat2 { cpus = 8 ; memory = '30g'}  
    withLabel: metawrap { cpus = 24 ; memory = '150g'} 
    withLabel: minimap2 { cpus = 8 ; memory = '30g'}
    withLabel: pilon { cpus = 24 ; memory = '150g'} 
    withLabel: racon { cpus = 8 ; memory = '30g'} 
    withLabel: seqtk { cpus = 8 ; memory = '30g'} 
    withLabel: sourmash { cpus = 8 ; memory = '30g'}
    withLabel: spades { cpus = 24 ; memory = '150g'}
    withLabel: trinity { cpus = 8 ; memory = '30g'}
    withLabel: ubuntu { cpus = 8 ; memory = '30g'} 
    //withLabel: unicycler { cpus = 24 ; memory = '150g'}
    withLabel: chopper { cpus = 8 ; memory = '30g'}
    withLabel: semibin2 { cpus = 24 ; memory = '50g'}
    withLabel: comebin { cpus = 24; memory = '50g'}
    withLabel: QUAST { cpus = 24; memory = '50g'}
}
