process {
    withLabel: bwa { cpus = 8 ; memory = '30g'} 
    withLabel: concoct { cpus = 8 ; memory = '30g'}
    withLabel: fastp { cpus = 8 ; memory = '30g'}
    withLabel: filtlong { cpus = 8 ; memory = '14g'}
    withLabel: flye { cpus = 8 ; memory = '30g'}
    withLabel: maxbin2 { cpus = 8 ; memory = '30g'}  
    withLabel: medaka { cpus = 8 ; memory = '30g'} 
    withLabel: metabat2 { cpus = 8 ; memory = '30g'}  
    withLabel: metawrap { cpus = 24 ; memory = '150g'} 
    withLabel: minimap2 { cpus = 8 ; memory = '30g'}
    withLabel: checkm { cpus = 24 ; memory = '150g'}
    //withLabel: checkm(withLabel: metawrap)
    withLabel: pilon { cpus = 24 ; memory = '150g'} 
    withLabel: racon { cpus = 8 ; memory = '30g'} 
    withLabel: seqtk { cpus = 8 ; memory = '30g'} 
    withLabel: sourmash { cpus = 8 ; memory = '30g'}
    withLabel: spades { cpus = 24 ; memory = '150g'}
    withLabel: ubuntu { cpus = 8 ; memory = '30g'} 
    withLabel: unicycler { cpus = 24 ; memory = '150g'}
    withLabel: eggnog { cpus = 8 ; memory = '30g'}
    withLabel: trinity { cpus = 8 ; memory = '30g'}
}
