process {
    withLabel : bwa { conda = 'bioconda::bwa=0.7.17 bioconda::samtools=1.15.1'}
    withLabel : checkm { conda = 'bioconda::checkm-genome=1.1.11'}
    withLabel : concoct { conda = 'bioconda::samtools=1.15.1 bioconda::concoct=1.1.0 anaconda::mkl'}
    withLabel : eggnog { conda = 'bioconda::diamond anaconda::biopython bioconda::eggnog-mapper=2.1.7 '}
    withLabel : fastp { conda = 'bioconda::fastp=0.23.2'}
    withLabel : filtlong { conda = 'bioconda::filtlong=0.2.1'}
    withLabel : flye { conda = 'bioconda::flye=2.9'} 
    withLabel : maxbin2 { conda = 'bioconda::maxbin2=2.2.7'}
    withLabel : medaka { conda = 'bioconda::medaka=1.6.0 '}
    withLabel : metabat2 { conda = 'bioconda::metabat2=2.15'}
    withLabel : metawrap { conda = 'ursky::metawrap-mg=1.3.2'}
    withLabel : minimap2 { conda = 'bioconda::minimap2=2.24 bioconda::samtools=1.15.1'}
    withLabel : pilon { conda = 'bioconda::pilon=1.24 bioconda::bwa=0.7.17 bioconda::samtools=1.15.1'}
    withLabel : python38 { conda = 'python=3.8 '}
    withLabel : racon { conda = 'bioconda::racon=1.5.0 '}
    withLabel : seqtk { conda = 'bioconda::seqtk=1.3 bioconda::samtools=1.15.1 '}
    withLabel : sourmash { conda = 'bioconda::sourmash=4.3.0 '}
    withLabel : spades { conda = 'bioconda::spades=3.15.4'}
    withLabel : trinity { conda = 'bioconda::trinity=2.13.2 '}
    withLabel : unicycler { conda = 'bioconda::unicycler=0.5.0 '}
    // withLabel : { cpus = params.cpus ; memory = params.memory
            // conda = 'bioconda:: '}
}      
