process {
    withLabel : fastp { cpus = params.cpus ; memory = params.memory
            conda = 'bioconda::fastp'}
    withLabel : filtlong { cpus = params.cpus ; memory = params.memory
            conda = 'bioconda::filtlong'}
    withLabel : sourmash { cpus = params.cpus ; memory = params.memory
            conda = 'bioconda::sourmash=3.3.0 '}
    withLabel : spades { cpus = params.cpus ; memory = params.memory
            conda = 'bioconda::spades'}
    withLabel : flye { cpus = params.cpus ; memory = params.memory
            conda = 'bioconda::flye'} 
    withLabel : racon { cpus = params.cpus ; memory = params.memory
            conda = 'bioconda::racon '}
    withLabel : medaka { cpus = params.cpus ; memory = params.memory
            conda = 'bioconda::medaka=0.11.2 '}
    withLabel : pilon { cpus = params.cpus ; memory = params.memory
            conda = 'bioconda::pilon bioconda::bwa bioconda::samtools'}
    withLabel : minimap2 { cpus = params.cpus ; memory = params.memory
            conda = 'bioconda::minimap2 bioconda::samtools'}
    withLabel : bwa { cpus = params.cpus ; memory = params.memory
            conda = 'bioconda::bwa bioconda::samtools'}
    withLabel : metabat2 { cpus = params.cpus ; memory = params.memory
            conda = 'bioconda::metabat2'}
    withLabel : maxbin2 { cpus = params.cpus ; memory = params.memory
            conda = 'bioconda::maxbin2'}
    withLabel : concoct { cpus = params.cpus ; memory = params.memory
            conda = 'bioconda::concoct'}
    withLabel : checkm { cpus = params.cpus ; memory = params.memory
            conda = 'bioconda::checkm-genome=1.0.18'}
    withLabel : metawrap { cpus = params.cpus ; memory = params.memory;
            conda = 'ursky::metawrap-mg'}
    withLabel : seqtk { cpus = params.cpus ; memory = params.memory
            conda = 'bioconda::seqtk bioconda::samtools '}
    withLabel : unicycler { cpus = params.cpus ; memory = params.memory
            conda = 'bioconda::unicycler '}
    withLabel : dammit { cpus = params.cpus ; memory = params.memory
            conda = 'bioconda::dammit=1.0 '}
    withLabel : eggnog { cpus = params.cpus ; memory = params.memory
            conda = 'bioconda::diamond anaconda::biopython bioconda::eggnog-mapper=2.0.1 '}
    withLabel : trinity { cpus = params.cpus ; memory = params.memory
            conda = 'bioconda::trinity '}
    withLabel : python38 { cpus = params.cpus ; memory = params.memory
            conda = 'python=3.8 '}
    // withLabel : { cpus = params.cpus ; memory = params.memory
            // conda = 'bioconda:: '}
}      