process {
    withLabel: bwa { container = 'community.wave.seqera.io/library/bwa_samtools:3938c84206f62975' } 
    withLabel: checkm2 {  container = 'community.wave.seqera.io/library/checkm2:1.0.2--c151275ccfb3d8ef' }
    withLabel: eggnog { container = 'community.wave.seqera.io/library/eggnog-mapper:2.1.12--5e59b24d66205f75' }
    withLabel: fastp {container = 'nanozoo/fastp:0.20.0--78a7c63' }
    withLabel: flye { container = 'community.wave.seqera.io/library/flye:2.9.5--0221998e9c3ec606' }
    withLabel: medaka { container = 'community.wave.seqera.io/library/medaka:1.11.3--23de3540b28fbf0b' } 
    withLabel: metabat2 {container = 'community.wave.seqera.io/library/metabat2:2.17--cad74dddb895fa51' }  
    withLabel: minimap2 { container = 'community.wave.seqera.io/library/minimap2_samtools:7e38c0cfb1291cfb' }
    withLabel: pilon {container = 'community.wave.seqera.io/library/bwa_pilon_samtools:cbd40755410ff4e7' } 
    withLabel: racon { container = 'community.wave.seqera.io/library/racon:1.5.0--05fc11efd0ffd3c9' } 
    withLabel: seqtk {container = 'community.wave.seqera.io/library/seqtk:1.4--2691a67b9f188d94' } 
    withLabel: sourmash { container = 'community.wave.seqera.io/library/sourmash:4.8.11--9aedc5d6482a33a7'  }
    withLabel: spades { container = 'community.wave.seqera.io/library/spades:4.0.0--bd910de6a86da35a'  }
    withLabel: trinity { container = 'community.wave.seqera.io/library/trinity:2.15.2--e0705f7beff31ecd' }
    withLabel: ubuntu {container = 'nanozoo/template:3.8--ccd0653' } 
    withLabel : chopper { container = 'community.wave.seqera.io/library/chopper:0.9.0--bea4432a5b736b84'}
    withLabel : semibin2 {container = 'community.wave.seqera.io/library/semibin_cuda-cudart_pytorch-cuda_pytorch:96978e892c3cf6c5'}
    withLabel : comebin {container = 'community.wave.seqera.io/library/comebin_pytorch_cuda_pytorch-cuda:e62bfbdb76fd79a9'}
    withLabel : n50 {container = 'community.wave.seqera.io/library/n50:1.5.8--3a5d596e03086883'}
    withLabel : samtools {container = 'community.wave.seqera.io/library/samtools:1.20--b5dfbd93de237464'}
    withLabel : QUAST {container = 'community.wave.seqera.io/library/quast:5.2.0--0e351f8c3dfb902f'}
    withLabel : metaphlan {container = 'community.wave.seqera.io/library/metaphlan:4.1.1--9cfd8f62a6ad7555'}





    withLabel: checkm2 {  container = 'tpaisie/checkm2:latest' }
    //withLabel: concoct { container = 'nanozoo/concoct:1.1.0--03a3888 staphb/samtools:latest' }
    withLabel: eggnog { container = 'nanozoo/eggnog-mapper:2.0.1--d5e0c8c' }
    withLabel: fastp {container = 'nanozoo/fastp:0.20.0--78a7c63' }
    //withLabel: filtlong { container = 'nanozoo/filtlong:v0.2.0--afa175e' }
    withLabel: flye { container = 'nanozoo/flye:2.8--95b6dca' }
    //withLabel: maxbin2 { container = 'nanozoo/maxbin2:2.2.7--b643a6b' }  
    withLabel: medaka { container = 'nanozoo/medaka:1.0.3--7c62d67' } 
    withLabel: metabat2 {container = 'nanozoo/metabat2:2.13--0e2577e' }  
    //withLabel: metawrap {container = 'nanozoo/metawrap:v1.3--a7eb9af' } 
    withLabel: minimap2 { container = 'nanozoo/minimap2:2.17--caba7af' }
    withLabel: pilon {container = 'nanozoo/pilon:1.23--b21026d biocontainers/bwa:v0.7.17_cv1 staphb/samtools:latest' } 
    withLabel: racon { container = 'nanozoo/racon:1.4.13--bb8a908' } 
    withLabel: seqtk {container = 'nanozoo/seqtk:1.3--dc0d16b' } 
    withLabel: sourmash { container = 'nanozoo/sourmash:2.0.1--6970ddc'  }
    withLabel: spades { container = 'nanozoo/spades:3.13.1--2c2a4c0'  }
    withLabel: trinity { container = 'nanozoo/trinity:2.9.1--82fe26c' }
    withLabel: ubuntu {container = 'nanozoo/template:3.8--ccd0653' } 
    // withLabel: unicycler { container = 'nanozoo/unicycler:0.4.7-0--c0404e6' }
    withLabel : chopper { container = 'community.wave.seqera.io/library/chopper:0.9.0--bea4432a5b736b84'}
    withLabel : semibin2 {container = 'pnatarajan84/semibin2:V2.0'}
    withLabel : comebin {container = 'ealeo/comebin:v1.0.4 mblanche/n50:latest'}
    withLabel : samtools {container = 'staphb/samtools:latest'}
    withLabel : QUAST {container = 'nanozoo/quast:5.2.0--94a7141'}
    withLabel : metaphlan {container = 'diddlydoodles/metaphlan:4.1.0'}
}
