process {
    //withLabel: checkm(withLabel: metawrap)
    withLabel: bwa { container = 'nanozoo/pilon:1.23--b21026d' } 
    withLabel: checkm {  container = 'nanozoo/checkm:1.1.3--c79a047' }
    withLabel: concoct { container = 'nanozoo/concoct:1.1.0--03a3888' }
    withLabel: eggnog { container = 'nanozoo/eggnog-mapper:2.0.1--d5e0c8c' }
    withLabel: fastp {container = 'nanozoo/fastp:0.20.0--78a7c63' }
    withLabel: filtlong { container = 'nanozoo/filtlong:v0.2.0--afa175e' }
    withLabel: flye { container = 'nanozoo/flye:2.8--95b6dca' }
    withLabel: maxbin2 { container = 'nanozoo/maxbin2:2.2.7--b643a6b' }  
    withLabel: medaka { container = 'nanozoo/medaka:1.0.3--7c62d67' } 
    withLabel: metabat2 {container = 'nanozoo/metabat2:2.13--0e2577e' }  
    withLabel: metawrap {container = 'nanozoo/metawrap:v1.3--a7eb9af' } 
    withLabel: minimap2 { container = 'nanozoo/minimap2:2.17--caba7af' }
    withLabel: pilon {container = 'nanozoo/pilon:1.23--b21026d' } 
    withLabel: racon { container = 'nanozoo/racon:1.4.13--bb8a908' } 
    withLabel: seqtk {container = 'nanozoo/seqtk:1.3--dc0d16b' } 
    withLabel: sourmash { container = 'nanozoo/sourmash:2.0.1--6970ddc'  }
    withLabel: spades { container = 'nanozoo/spades:3.13.1--2c2a4c0'  }
    withLabel: trinity { container = 'nanozoo/trinity:2.9.1--82fe26c' }
    withLabel: ubuntu {container = 'nanozoo/template:3.8--ccd0653' } 
    withLabel: unicycler { container = 'nanozoo/unicycler:0.4.7-0--c0404e6' }
}
