process {
    withLabel: flye { google.lifeSciences.preemptible = false }
    withLabel: metawrap { google.lifeSciences.preemptible = false } 
    withLabel: spades { google.lifeSciences.preemptible = false  }
    withLabel: unicycler { google.lifeSciences.preemptible = false }
    withLabel: trinity { google.lifeSciences.preemptible = false ; google.lifeSciences.bootDiskSize = "25GB"  }
}