process {
    withLabel: bwa { cpus =  ; memory = 'g' } 
    withLabel: concoct { cpus =  ; memory = 'g' }
    withLabel: fastp { cpus =  ; memory = 'g'  }
    withLabel: filtlong { cpus =  ; memory = 'g'  }
    withLabel: flye { cpus =  ; memory = 'g'  }
    withLabel: maxbin { cpus =  ; memory = 'g'  }  
    withLabel: medaka { cpus =  ; memory = 'g'  } 
    withLabel: metabat { cpus =  ; memory = 'g'  }  
    withLabel: metawrap { cpus =  ; memory = 'g'  } 
    withLabel: minimap { cpus =  ; memory = 'g'  }
    withLabel: checkm { cpus =  ; memory = 'g'  }
    //withLabel: checkm(withLabel: metawrap)
    withLabel: pilon { cpus =  ; memory = 'g' } 
    withLabel: racon { cpus =  ; memory = 'g'  } 
    withLabel: seqtk { cpus =  ; memory = '0g'  } 
    withLabel: sourmash { cpus =  ; memory = 'g'  }
    withLabel: spades { cpus =  ; memory = 'g'   }
    withLabel: ubuntu { cpus =  ; memory = '0g'  } 
    withLabel: unicycler { cpus =  ; memory = 'g'  }
    withLabel: eggnog { cpus =  ; memory = 'g'  }
    withLabel: trinity { cpus =  ; memory = 'g'  }
}