process {
    //withLabel: checkm(withLabel: metawrap)
    withLabel: bwa { cpus = params.cpus ; memory = params.memory } 
    withLabel: checkm { cpus = params.cpus ; memory = params.memory  }
    withLabel: concoct { cpus = params.cpus ; memory = params.memory }
    withLabel: eggnog { cpus = params.cpus ; memory = params.memory  }
    withLabel: fastp { cpus = params.cpus ; memory = params.memory  }
    withLabel: filtlong { cpus = params.cpus ; memory = params.memory  }
    withLabel: flye { cpus = params.cpus ; memory = params.memory  }
    withLabel: maxbin { cpus = params.cpus ; memory = params.memory  }  
    withLabel: maxbin2 { cpus = params.cpus ; memory = params.memory  } 
    withLabel: medaka { cpus = params.cpus ; memory = params.memory  } 
    withLabel: metabat { cpus = params.cpus ; memory = params.memory  }  
    withLabel: metawrap { cpus = params.cpus ; memory = params.memory  } 
    withLabel: minimap { cpus = params.cpus ; memory = params.memory  }
    withLabel: pilon { cpus = params.cpus ; memory = params.memory } 
    withLabel: racon { cpus = params.cpus ; memory = params.memory  } 
    withLabel: seqtk { cpus = params.cpus ; memory = params.memory  } 
    withLabel: sourmash { cpus = params.cpus ; memory = params.memory  }
    withLabel: spades { cpus = params.cpus ; memory = params.memory   }
    withLabel: trinity { cpus = params.cpus ; memory = params.memory  }
    withLabel: ubuntu { cpus = params.cpus ; memory = params.memory  } 
    withLabel: unicycler { cpus = params.cpus ; memory = params.memory  }
}
