process {
    withLabel: flye { google.lifeSciences.preemptible = false ; google.lifeSciences.bootDiskSize = "10GB" }
    withLabel: metawrap { google.lifeSciences.preemptible = false ; google.lifeSciences.bootDiskSize = "10GB" } 
    withLabel: spades { google.lifeSciences.preemptible = false ; google.lifeSciences.bootDiskSize = "10GB" }
    withLabel: unicycler { google.lifeSciences.preemptible = false ; google.lifeSciences.bootDiskSize = "10GB" }
    withLabel: trinity { google.lifeSciences.preemptible = false ; google.lifeSciences.bootDiskSize = "25GB"  }

    withLabel: bwa { google.lifeSciences.preemptible = true ; google.lifeSciences.bootDiskSize = "10GB" } 
    withLabel: concoct { google.lifeSciences.preemptible = true ; google.lifeSciences.bootDiskSize = "10GB" }
    withLabel: fastp { google.lifeSciences.preemptible = true ; google.lifeSciences.bootDiskSize = "10GB" }
    withLabel: filtlong { google.lifeSciences.preemptible = true ; google.lifeSciences.bootDiskSize = "10GB" }
    withLabel: maxbin2 { google.lifeSciences.preemptible = true ; google.lifeSciences.bootDiskSize = "10GB" }  
    withLabel: medaka { google.lifeSciences.preemptible = true ; google.lifeSciences.bootDiskSize = "10GB" } 
    withLabel: metabat2 { google.lifeSciences.preemptible = true ; google.lifeSciences.bootDiskSize = "10GB" }  
    withLabel: minimap2 { google.lifeSciences.preemptible = true ; google.lifeSciences.bootDiskSize = "10GB" }
    withLabel: checkm { google.lifeSciences.preemptible = true ; google.lifeSciences.bootDiskSize = "10GB" }
    withLabel: pilon { google.lifeSciences.preemptible = true ; google.lifeSciences.bootDiskSize = "10GB" } 
    withLabel: racon { google.lifeSciences.preemptible = true ; google.lifeSciences.bootDiskSize = "10GB" } 
    withLabel: seqtk { google.lifeSciences.preemptible = true ; google.lifeSciences.bootDiskSize = "10GB" } 
    withLabel: sourmash { google.lifeSciences.preemptible = true ; google.lifeSciences.bootDiskSize = "10GB"  }
    withLabel: ubuntu { google.lifeSciences.preemptible = true ; google.lifeSciences.bootDiskSize = "10GB" } 
    withLabel: eggnog { google.lifeSciences.preemptible = true ; google.lifeSciences.bootDiskSize = "10GB" }
    withLabel: semibin2 { google.lifeSciences.preemptible = true ; google.lifeSciences.bootDiskSize = "10GB" }
    withLabel: COMEBin { google.lifeSciences.preemptible = true ; google.lifeSciences.bootDiskSize = "10GB" }
}